body{
    background-color: #f0f0f0;
    font-family: "Lucida Console", "Courier New", monospace;
}

.container{
    width: 40%;
    margin-top: 10%;
    border: 5px solid white;
}

#main{
    padding: 5%;
    border-radius: 5%;
    width: 450px;
}


input[type=text]{
    background-color: #A0BCC2;
    border: 1px solid #A0BCC2;
    width: 85%;
    margin: 0px;
    padding: 0px;
}

button{
    background-color: #DAE5D0;
}


ul{
    margin: 0px;
    padding: 0px;
}

li{
    list-style: none;
    font-size: large;
    background-color: white;
    border: 1.5px solid #f0f0f0;
    padding: 5px 10px;
}


#checkbox{
    margin-top: .50em;
    margin-left: .5em;
    width: 1em;
    height: 1em;
    border-radius: 5px;
}