body{
    background-color: #f0f0f0;
    font-family: "Lucida Console", "Courier New", monospace;
}

.container{
    width: 40%;
    margin-top: 10%;
    border: 5px solid white;
}

#main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "heading"
    "task"
    "list";
    padding: 5%;
    /* border: 1px solid white; */
    border-radius: 5%;
}

#heading{
    grid-area: heading;
}

#task{
    grid-area: task;
    background-color: ;
}

input[type=text]{
    background-color: #A0BCC2;
    border: 1px solid #A0BCC2;
    width: 86%;
}

button{
    background-color: #DAE5D0;
}

#list{
    grid-area: list;
    margin-left: -13%;
}

li{
    list-style: none;
    font-size: large;
    background-color: white;
    border: 1px solid #f0f0f0;
}

/* input[type=checkbox]{
    visibility: hidden;
} */

#checkbox{
    border: 1.15em solid black;
    margin-top: .50em;
    margin-left: .2em;
    width: 1em;
    height: 1em;
    border-radius: 5px;
}